.postItem {
  margin: 0%;
  margin-top: 2%;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 15px;
  /* padding-bottom: 5%; */
  background-color: rgba(238, 250, 255, 0.637);
  box-shadow: 10px 10px 20px rgb(117, 0, 133);
}

.postTitle {
  border-radius: 50px;
  padding: 1%;
}

.postContent {
  border-radius: 15px;
  padding: 1%;
}
