.resourceList {
  width: 60%;
  margin: auto;
}

.resourceItem {
  align-items: center;
  text-align: center;
}

.addContent {
  background-color: rgba(255, 255, 255, 0.363);
  border-radius: 50px;
}
